﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button-margin {
    margin-bottom: 20px;
}

.report {
    font-weight: 200;
    font-size: 28px;
}

.report-fieldknowledge {
    font-size: 22px;
}

.text-index {
    font-size: 30px;
}

div.ex2 {
    max-width: 20%;
    border: 3px solid #73AD21;
    position: relative;
}

.table-fixing {
    position: relative;
    width: 100%;
    height: auto;
    overflow:auto;
}

