﻿@model IEnumerable<KnowledgeAccountingSystem.WEB.ViewModels.IndexViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Head</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name.ToString(), "ListOfMatirialFieldOfKnowledges", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("List Of Mat", "ListOfMatirialFieldOfKnowledges", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>