﻿@model IEnumerable<KnowledgeAccountingSystem.WEB.ViewModels.ListOfMatirialFieldOfKnowledgesViewModels>
@{
    ViewBag.Title = "ListOfMatirialFieldOfKnowledges";
}

<h2>List Of Subject</h2>


@using (Html.BeginForm("Result", "Manager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.Label("Mark", "Mark")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        <input type="hidden" value="@item.Id" name="matirial" />
                    </td>
                    <td>
                        @Html.DropDownList("Mark", new SelectList(new int[] { 1, 2, 3, 4, 5 }))
                    </td>

                </tr>
            }

        </table>


            <div class="button-margin">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
