﻿@model IEnumerable<KnowledgeAccountingSystem.WEB.ViewModels.ReportViewModels>

@{
    ViewBag.Title = "Report";
}

<h2 >Report</h2>

<label class="report">
    @Html.DisplayNameFor(model => model.User)
</label>
<div class="button-margin">
    @Html.DisplayFor(modelItem => modelItem.First().User)
</div>

@{
    var list = Model.GroupBy(m => m.FieldName);
}


@foreach (var el in list)
{
    <label class="report">Course name</label>
    <div class="report-fieldknowledge button-margin">
        @Html.DisplayFor(modelItem => el.Key)
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                Subject
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>

        @foreach (var a in el)
        {
            <tr>
                <td class="table-fixing">
                    @Html.DisplayFor(modelItem => a.MatirialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => a.Score)
                </td>
            </tr>
        }

    </table>
    }


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
