﻿@model IEnumerable<KnowledgeAccountingSystem.BLL.DTO.ApplicationUserDTO>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Report", "Report", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>