﻿@model KnowledgeAccountingSystem.WEB.ViewModels.ListMatirialViewModels
@{
    ViewBag.Title = "ListOfMatirialFieldOfKnowledges";
}

<h2>List Of Subject</h2>

@if (Model.IsMessege)
{
    <h2>@ViewBag.Message</h2>

    using (Html.BeginForm("Update", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.Label("Name", "Name")
                    </th>
                    <th>
                        @Html.Label("Mark", "Mark")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ListOfMatirial)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            <input type="hidden" value="@Model.Id" name="idMat" />
                            <input type="hidden" value="@item.Id" name="matirial" />
                        </td>
                        <td>
                            @Html.DropDownList("Mark", new SelectList(new int[] { 1, 2, 3, 4, 5 }))
                        </td>

                    </tr>
                }

            </table>

            <div class="button-margin">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    }
}

@if (!Model.IsMessege)
{
    using (Html.BeginForm("Send", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.Label("Name", "Name")
                    </th>
                    <th>
                        @Html.Label("Mark", "Mark")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ListOfMatirial)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            <input type="hidden" value="@Model.Id" name="idMat" />
                            <input type="hidden" value="@item.Id" name="matirial" />
                        </td>
                        <td>
                            @Html.DropDownList("Mark", new SelectList(new int[] { 1, 2, 3, 4, 5 }))
                        </td>

                    </tr>
                }

            </table>

            <div class="button-margin">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
