﻿@model KnowledgeAccountingSystem.WEB.ViewModels.UserRolesViewModels

@{
    ViewBag.Title = "AddNewRole";
}

<h2>Add New Role</h2>

@using (Html.BeginForm("AddNewRole", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.Label("Role Now", "Role")
                </th>
                <th>
                    @Html.Label("Add New Role", "New Role")
                </th>
                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.User.Email)
                </td>
                <td>
                    @Html.DropDownList("Roles", new SelectList(Model.Roles.ToArray()))
                </td>
                <td>
                    @Html.DropDownList("NewRoles", new SelectList(new string[] { "user", "admin", "manager" }))
                </td>
            </tr>

        </table>



            <div class="button-margin">
                <input type="submit" value="Send" class="btn btn-primary" id="@Model.User.Id" />
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>