﻿@model KnowledgeAccountingSystem.WEB.ViewModels.UserRolesViewModels

@{
    ViewBag.Title = "DeleteUserRoles";
}

<h2>Delete User Roles</h2>

@using (Html.BeginForm("DeleteUserRoles", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.Label("Role which you want to delete", "delete Roles")
                </th>

                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.User.Email)
                </td>
                <td>
                    @Html.DropDownList("deleteRoles", new SelectList(Model.Roles.ToArray()))
                </td>
            </tr>

        </table>

            <div class="button-margin">
                <input type="submit" value="Send" class="btn btn-primary" id="@Model.User.Id" />
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>