﻿@model KnowledgeAccountingSystem.BLL.DTO.ApplicationUserDTO

@{
    ViewBag.Title = "DeleteUser";
}

<h2>Delete User</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>      

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="button-margin">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>