﻿@model IEnumerable<KnowledgeAccountingSystem.BLL.DTO.ApplicationUserDTO>

@{
    ViewBag.Title = "GetUser";
}

<h2>Get User</h2>

<table class="table table-hover">
    <tr>
        <th>
            <div>Name</div>
             
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }) |
                @Html.ActionLink("Add new role", "AddNewRole", new { id = item.Id }) |
                @Html.ActionLink("Delete role", "DeleteUserRoles", new { id = item.Id })
            </td>
        </tr>
    }

</table>

