﻿@model IEnumerable<KnowledgeAccountingSystem.WEB.ViewModels.IndexViewModels>
@{
    ViewBag.Title = "Index";
}

<h2>Head</h2>

<p>
    @Html.ActionLink("Create New Field of Knowledge", "Create")
</p>
<p>
    @Html.ActionLink("Work With Material", "WorkWithMaterial")
</p>
<p>
    @Html.ActionLink("Change user", "GetUser")
</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name.ToString(), "ListOfMatirialFieldOfKnowledges", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("List Of Mat", "ListOfMatirialFieldOfKnowledges", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
