﻿@model IEnumerable<KnowledgeAccountingSystem.WEB.ViewModels.ListOfMatirialFieldOfKnowledgesViewModels>
@{
    ViewBag.Title = "ListOfMatirialFieldOfKnowledges";
}

<h2>List Of Subject Field Of Knowledges</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldOfKnowledge.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
   


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfKnowledge.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
         
        </tr>
    }

</table>