﻿@model KnowledgeAccountingSystem.WEB.ViewModels.WorkWithMaterialViewModel
@using KnowledgeAccountingSystem.WEB.Helpers
@{
    ViewBag.Title = "WorkWithMaterial";
}

<h2>Work With Material</h2>

<p>
    @Html.ActionLink("Create New", "CreateMatirial")
</p>
<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.WorkWithMaterials)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfKnowledge.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMaterial", new { id = item.Id })|
                @Html.ActionLink("Delete", "DeleteMaterial", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("WorkWithMaterial", new { page = x }))
</div>